<HTML lang=en>

<HEAD>
    <META charset=utf-8>
    <META http-equiv=X-UA-Compatible content=IE =edge>
    <META name=viewport content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <META name=description content="eBay Template">
    <META name=author content=D>
    <!-- Bootstrap core CSS -->
    <LINK href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel=stylesheet type=text/css>
    <!-- Extra CSS -->
    <STYLE type=text/css>
        .hover_img a {
            position: relative;
        }

            .hover_img a span {
                position: absolute;
                display: none;
            }

            .hover_img a:hover span {
                left: -70px;
                display: block;
            }

        .vinyl a span {
            position: absolute;
            right: 0;
            display: none;
            transition: .65s;
            opacity: 0.0
        }

        .vinyl a:hover span {
            display: block;
            background-position: 0 100%, 50% 95%;
            opacity: 1
        }

        .hundred-image {
          width: auto; /* maintain width/height aspect ratio */
          height: 150px; /*I realized this doesnt seem responsive, but no percentages work for me but it appears fine on mobile*/
    }
    </STYLE>
</HEAD>

<BODY>
    <div class="page-header" style="display:@(Model.HasTitle?"block":"none");">
        <h1>@Model.Title <small>@Model.SubTitle</small></h1>
    </div>
    <div class="media" style="display:@(Model.HasDescriptions ? "block" : "none");">
        <div class="media-left">

            <SPAN class="glyphicon glyphicon-pencil">

            </SPAN>

        </div>
        <div class="media-body">
            <h4 class="media-heading">Description</h4>
            <DIV class=col-md-12>
                <p>
                    sdfsdfsdfs
                </p>
                <UL>
                    @foreach (var description in Model.Descriptions)
                    {
                        <LI>@description</LI>
                    }
                </UL>
            </DIV>
        </div>
    </div>
    <div class="media" style="display:@(Model.HasImagePaths ? "block" : "none");">
        <div class="media-left">

            <SPAN class="glyphicon glyphicon-camera">

            </SPAN>

        </div>
        <div class="media-body">
            <h4 class="media-heading">Images</h4>
            <DIV class=row id=pictures>
                @foreach (var image in Model.ImagePaths)
                {

                    <DIV class="col-xs-6 col-md-3">
                        <IMG src="@image" class="img-responsive hundred-image">  </IMG>
                    </DIV>
                }
            </DIV>
        </div>
    </div>
    <div class="media" style="display:@(Model.HasMeasurements ? "block" : "none");">
        <div class="media-left">

            <SPAN class="glyphicon glyphicon-stats">

            </SPAN>

        </div>
        <div class="media-body">
            <h4 class="media-heading">Measurements</h4>
            <DIV class=col-md-6y id=measurements>
                <TABLE class="table table-bordered">
                    <THEAD>
                        <TR>
                            <TH width=60>Pit-to-Pit (A)</TH>
                            <TH width=60>Sleeve-Length (B)</TH>
                            <TH width=60>Shoulder (C)</TH>
                            <TH width=60>Length (D)</TH>
                            <TH width=40>

                                <DIV class=vinyl><SMALL><A>Diagram<SPAN><IMG alt=image src="https://tinyurl.com/yzfcw6vj"></SPAN></A> </SMALL></DIV>

                            </TH>
                        </TR>
                    </THEAD>
                    <TBODY>
        @*                 <TR>
                            <TD>@String.Format("{0:#.#}", Model.PitToPitWidthInCentimetres)</TD>
                            <TD>@String.Format("{0:#.#}", Model.SleeveLengthInCentimetres)</TD>
                            <TD>@String.Format("{0:#.#}", Model.ShoulderInCentimetres)</TD>
                            <TD>@String.Format("{0:#.#}", Model.LengthInCentimetres)</TD>
                            <TD>cm</TD>
                        </TR>
                        <TR>
                            <TD>@String.Format("{0:#.#}", Model.PitToPitWidthInInches)</TD>
                            <TD>@String.Format("{0:#.#}", Model.SleeveLengthInInches)</TD>
                            <TD>@String.Format("{0:#.#}", Model.ShoulderWidthInInches)</TD>
                            <TD>@String.Format("{0:#.#}", Model.LengthInInches)</TD>
                            <TD>in</TD>
                        </TR> *@
                    </TBODY>
                </TABLE>
            </DIV>

        </div>
    </div>

    <div class="media" style="display:@(Model.HasShipping ? "block" : "none");">
        <div class="media-left">

            <SPAN class="glyphicon glyphicon-envelope">

            </SPAN>

        </div>

        <div class="media-body" height=700>
            <h4 class="media-heading">Shipping</h4>
            <P>Unless otherwise stated, items shipped within <MARK>2 business day</MARK> of payment.</P>
            <DIV class="panel panel-default">
                <DIV class=panel-body id=shipping>
                    <TABLE class="table table-condensed">
                        <THEAD>
                            <TR>
                                <TH>Size</TH>
                                <TH>Shipper</TH>
                                <TH>Service</TH>
                                <TH>Delivery Time</TH>
                            </TR>
                        </THEAD>
                        <TBODY>
                            <TR>
                                <TD>small</TD>
                                <TD>Royal Mail</TD>
                                <TD>First Class Package</TD>
                                <TD>2-6 business days*</TD>
                            </TR>
                            <TR>
                                <TD>large</TD>
                                <TD>MyHermes</TD>
                                <TD>Standard Post</TD>
                                <TD>2-8 business days*</TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                </DIV>
            </DIV>
        </div>

        <div class="media" style="display:@(Model.HasDisclaimers ? "block" : "none");">
            <div class="media-left">
                <SPAN class="glyphicon glyphicon-ok-circle">
                </SPAN>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Other</h4>
                <DIV>
                    <SPAN>
                        <SMALL>
                            <P>
                                @foreach (var disclaimer in @Model.Disclaimers)
                                {
                                    @disclaimer<BR>
                                }
                            </P>
                        </SMALL>
                    </SPAN>
                </DIV>
            </div>
        </div>

    </div>
</BODY>

</HTML>
